h1{
    font-size:50px;
    font-family:"Bauhaus 93", sans-serif;
    font-weight:900;
}

.footerLogo{
    width:20px;
    height:20px;

}

.footer{

    background-color: aliceblue;
    position: fixed;
    bottom :0px;
    width:100%;
}
.FooterMain{
    font-family: "Bauhaus 93", sans-serif;
}

.searchbar{
    text-align:center;
}
.header{
    text-align:center;

}
.item{
    width:1000px;
    font-family: "Roboto Light", sans-serif;
}
.item:hover{
    cursor:pointer;
    box-shadow: #282c34 1px 1px 1px;


}
.LikedShows{
    position:absolute;
    text-align:center;
    right:0;
    top:20px;

}
.likedtext{
    vertical-align: auto;
}
.like{
    background-color: #207acf;
    border-radius: 20%;
    border: none;
    color: white;
}
.like:hover{
    background-color: #1d49a5;
    box-shadow: #282c34 1px 3px 1px;
}
body{
    background: #2A7B9B;
    background: radial-gradient(circle,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}