h1{
    font-size:50px;
    font-family:"Bauhaus 93", sans-serif;
    font-weight:900;
}

.footerLogo{
    width:20px;
    height:20px;

}

.footer{

    background-color: aliceblue;
    position: fixed;
    bottom :0px;
    width:100%;
}
.FooterMain{
    font-family: "Bauhaus 93", sans-serif;
}

.searchbar{
    text-align:center;
}
.header{
    text-align:center;

}
.item{
    width:200px;
}
.item:hover{
    cursor:pointer;
    box-shadow: #282c34 1px 1px 1px;

}
.LikedShows{
    position:absolute;

}
.likedtext{
    vertical-align: auto;
}