h1{
    font-size:50px;
    font-family:"Bauhaus 93", sans-serif;
    font-weight:900;
}

.footerLogo{
    width:20px;
    height:20px;

}

.footer{

    background-color: aliceblue;
    position: fixed;
    bottom :0px;
    width:100%;
}
.FooterMain{
    font-family: "Bauhaus 93", sans-serif;
}

.searchbar{
    text-align:center;
}
.header{
    text-align:center;

}